/.idea/uiDesigner.xml
/src/META-INF/MANIFEST.MF
/.idea/artifacts/Test_jar.xml
/.idea/misc.xml
/.idea/vcs.xml
/src/com/company/RegnemaskineTest.java
/src/com/company/Regnemaskine.java
/out/production/Test/com/company/Regnemaskine.class
/Test.iml
/.idea/modules.xml
/out/production/Test/com/company/RegnemaskineTest.class
/out/production/Test/META-INF/MANIFEST.MF
/out/production/Test/META-INF/Test.kotlin_module
